.footer-container {
    background-color: var(--color-background-dark);
    color: var(--color-text-white);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 16px;
  }
  
  .footer-text {
    margin: 0;
    font-size: 14px;
  }
  