<div class="table-container">
    <h3 class="table-title">Reservas de Passageiros</h3>
    
    <!-- Tabela com busca ativa -->
    <app-dynamic-table
      [columns]="columns"
      [data]="dataSource.data"
      (delete)="onDelete()"
      (edit)="onEdit()">
    </app-dynamic-table> 
  
    <!-- Botões -->
    <div class="table-buttons">
      <app-standard-button
        [outlined]="false"
        [label]="'Cadastrar Reserva'"
        [icon]="'add'"
        (onClick)="openReservationModal()">
      </app-standard-button>
      <app-standard-button
        [outlined]="true"
        [label]="'Download das reservas'"
        [icon]="'download'"
        (onClick)="onDownloadClick()">
      </app-standard-button>
      <app-standard-button
        [outlined]="true"
        [label]="'Upload das reservas'"
        [icon]="'upload'"
        (onClick)="fileInput.click()">
      </app-standard-button>
      <input
        type="file"
        #fileInput
        accept=".csv"
        style="display: none"
        accept=".csv"
        (change)="uploadReservations($event)"
      />
    </div>
    <app-reservation-modal [visible]="showModal" (close)="closeReservationModal()" (reservationCreated)="fetchBookings()"></app-reservation-modal>
  </div>
  